# Python ka chilla with #baba aammar
## How to use jupyter notebook
## Basics of python

### **01- my first program**

In [1]:
print(2+3)
print("Hello World!")
print("Learning python with Dr. Aaammar")

5
Hello World!
Learning python with Dr. Aaammar

### **02- operators**

In [2]:
print(3+3)
print(4-3)
print(3*3)
print(6/3)
print(6//3)
print(6//3+9-3)

6
1
9
2.0
2
8

*PEMDAS
Product, Exponent, Multiply, Divide, Addition, Subtraction
Left to Right sequence M D & A S*

### **03- strings**

In [3]:
print("HELLO")
print('HELLO')
print('''HELLO''')
print("What's up")

HELLO
HELLO
HELLO
What's up

### **04- comments**
The shortcut key to comments is **Ctrl + /**

In [4]:
print("HELLO")

HELLO

*Ctrl + / to comment out*

### **05- variables**

In [5]:
x=5
print(x)
y="Learning PYTHON with De. Aammar"
print (type(x))
print (type(y))
fruit_basket = 8
fruit_basket="mangoes"
del fruit_basket

5
<class 'int'>
<class 'str'>

*print(fruit_basket)*

### **06- input_variable**

*input_function
haider\

name=input("What is your name?  ")
greetings = "Hello!"
print(greetings, name)

name=input("What is your name?  ")
greetings = "Hello!"
print("Hello!", name)*

In [ ]:
name=input("What is your name?  ")
age = input("How old you are? ")

*greetings = "Hello!"*

In [ ]:
print("Hello!", name, ",You are still young")

### **07- conditional_logic**

*greater than >
less than <
equal to ==
less than equal to <=
greater than equal to >=
not equala t !=*

print(4==4)
print(4==4)

*print(4==4)
print(4!=4)
print(4<=5)
print(4>=6)
print(4<=9)
print(4>8)*

*applications*

*hammad_age=4
age_at_school=5
print(hammad_age==age_at_school)
input functions and logical operators
hammad_age=input("How old is hammad?  ")
hammad_age=int(hammad_age)  #converting input from string to int type
print (type(hammad_age))
age_at_school=5
print(hammad_age==age_at_school)*

*Use of Greater than Equals to*

In [ ]:
hammad_age=input("How old is hammad?  ")
hammad_age=int(hammad_age)  #converting input from string to int type
print (type(hammad_age))
age_at_school=5
print(hammad_age>=age_at_school)

### **08- type_conversion**

In [ ]:
x= 10
y= 10.2
z= "Hello"

*implicit type conversion*

In [ ]:
x=x+y
x=x*y
print(x,"Type of x is:  ", type(x))

*explicit type conversion*

In [ ]:
age=input("What is your age?  ")
age=int(age)
print(age, type(int(age)))

*print(age, type(float(age)))
print(age, type(str(age)))*

*name*
name=input("What is your name?  ")
name=str(name)
*print(age, type(int(age)))*
print(age, type(float(age)))
*print(age, type(str(age)))*