# - Indexing

In [1]:
# make a string
a = "Samosa Pakora"
a

'Samosa Pakora'

In [2]:
a

'Samosa Pakora'

In [3]:
a[0]

'S'

In [4]:
a[1]

'a'

# length of indexes

In [5]:
len(a)

13

In [6]:
# last element is exclusive
a[0:6]

'Samosa'

In [7]:
a[-2]

'r'

In [8]:
a[-1:-6]
# Has not print because it only starts printing english from left to right and it doesnt changes the order

''

In [9]:
a[-6:13]

'Pakora'

In [10]:
food ="biryani"
food

'biryani'

## - String Methods

In [11]:
len(food)

7

In [12]:
food.capitalize()

'Biryani'

In [13]:
food.upper()

'BIRYANI'

In [14]:
food.lower()

'biryani'

In [15]:
#replace
food.replace("b","sh")

'shiryani'

In [16]:
#counting a specific alphabet in a string
name = "baba_aammar with Dr Aammar Tufail"
name

'baba_aammar with Dr Aammar Tufail'

In [17]:
name.count("a")

8

In [18]:
name.count("ba")

2

### - Finding an index number in string

In [19]:
name = "baba_aammar with Dr Aammar Tufail"
name

'baba_aammar with Dr Aammar Tufail'

In [20]:
name.find("T")

27

### - How to split a string

In [21]:
food = "I love raita, samosa, biryani and karahi"
food

'I love raita, samosa, biryani and karahi'

In [22]:
food.split(",")

['I love raita', ' samosa', ' biryani and karahi']

# Basic data structures in Python
### 1 - Tuples
### 2 - List
### 3 - Dictionaries
### 4 - Set

### 1 - Tuples

- Orderd collection od elements
- Enclosed in ( ) paranthesis
- Different kind of elements can store in it.
- Once elements are stored you cannot change them (unmutateable)

In [23]:
tup1 = (1,"python", True, 2.5)
tup1

(1, 'python', True, 2.5)

In [24]:
#type of a tuple
type(tup1)

tuple

### - Indexing in tuple

In [25]:
tup1[1]

'python'

In [26]:
#last element is exclusive
tup1[0:3]

(1, 'python', True)

In [27]:
#count of elements in tup
len(tup1)

4

In [28]:
tup2 = (2,"haider", False, 3.5)
tup2

(2, 'haider', False, 3.5)

In [29]:
#concatinate two or more than two tuples
tup1 +tup2

(1, 'python', True, 2.5, 2, 'haider', False, 3.5)

In [30]:
#concatinate & Repeat
tup1*5 +tup2

(1,
 'python',
 True,
 2.5,
 1,
 'python',
 True,
 2.5,
 1,
 'python',
 True,
 2.5,
 1,
 'python',
 True,
 2.5,
 1,
 'python',
 True,
 2.5,
 2,
 'haider',
 False,
 3.5)

In [31]:
#Tuples could be added, multiplied, subtracted

In [32]:
tup3 = (20,30,40,50,60,70,80)
tup3

(20, 30, 40, 50, 60, 70, 80)

In [33]:
#Minimum
min(tup3)

20

In [34]:
#Repetition of tuples
tup3*2

(20, 30, 40, 50, 60, 70, 80, 20, 30, 40, 50, 60, 70, 80)

In [35]:
#Replace function is not used in tuples.

---

## 2- List
- Ordered collection of elements
- Enclosed in these [] square bracket/braces
- Mutateable, you can change the values

In [36]:
list1=[2, "Haider", False]
list1

[2, 'Haider', False]

In [37]:
type(list1)

list

In [38]:
len(list1)

3

In [39]:
list1[2]

False

In [40]:
list2=[2, "Haider", False, "Alqaim", 45.3]
list2

[2, 'Haider', False, 'Alqaim', 45.3]

In [41]:
list1 + list2

[2, 'Haider', False, 2, 'Haider', False, 'Alqaim', 45.3]

In [42]:
list1*2

[2, 'Haider', False, 2, 'Haider', False]

In [43]:
list1.reverse()
list1

[False, 'Haider', 2]

In [44]:
list1.append("Codanics Youtube Channel")
list1

[False, 'Haider', 2, 'Codanics Youtube Channel']

In [ ]:
list1.count()
#list.count function

In [45]:
list3=[20,30,40,50,60,66,670,80,90,99]
list3

[20, 30, 40, 50, 60, 66, 670, 80, 90, 99]

In [47]:
len(list3)

10

In [48]:
#sorting a list
list3.sort()
list3

[20, 30, 40, 50, 60, 66, 80, 90, 99, 670]

In [50]:
lists=list1+list2+list3
lists

[False,
 'Haider',
 2,
 'Codanics Youtube Channel',
 2,
 'Haider',
 False,
 'Alqaim',
 45.3,
 20,
 30,
 40,
 50,
 60,
 66,
 80,
 90,
 99,
 670]

## 3 - Dictionaries
- Unordered collection of elements
- Key and Value
- Curly braces or brackets {}
- Mutateable/change the values

In [69]:
#Food and their prices
d1 ={"Samosa":40, "Pakora":100, "Raita": 20, "Salad": 50, "Chicken Rolls": 30}
#Samosa is a key
#40 is a value
d1

{'Samosa': 40, 'Pakora': 100, 'Raita': 20, 'Salad': 50, 'Chicken Rolls': 30}

In [54]:
type(d1)

dict

In [56]:
#extract data
keys1 = d1.keys()
keys1

dict_keys(['Samosa', 'Pakora', 'Raita', 'Salad', 'Chickdn Rolls'])

In [58]:
values1 = d1.values()
values1

dict_values([40, 100, 20, 50, 30])

In [59]:
#add more values to a dictionary d1
d1["Tikki"]=10
d1

{'Samosa': 40,
 'Pakora': 100,
 'Raita': 20,
 'Salad': 50,
 'Chickdn Rolls': 30,
 'Tikki': 10}

In [60]:
#update the existing values
d1["Tikki"]=15
d1

{'Samosa': 40,
 'Pakora': 100,
 'Raita': 20,
 'Salad': 50,
 'Chickdn Rolls': 30,
 'Tikki': 15}

In [65]:
d2 = {"Dates":200, "Chocklates":300, "Sawayyan": 1000}
d2

{'Dates': 200, 'Chocklates': 300, 'Sawayyan': 1000}

In [71]:
#concatineate two dictionaries
d1.update(d2)
d1

{'Samosa': 40,
 'Pakora': 100,
 'Raita': 20,
 'Salad': 50,
 'Chicken Rolls': 30,
 'Dates': 200,
 'Chocklates': 300,
 'Sawayyan': 1000}

## 3 - Sets
- Unordered and unindexed
- Curly braces or brackets {}
- No duplicates allowed

In [73]:
s1 = {1, 2,2, "Codanics", "Sargodha", "Haider Rizvi", 5.2, True}
s1
#boolean operators are not allowed to print in SETS

{1, 2, 5.2, 'Codanics', 'Haider Rizvi', 'Sargodha'}

In [75]:
#to add a existing value in SET s1
s1.add("Saleh")
s1
#duplicates will not be added in a set

{1, 2, 5.2, 'Codanics', 'Haider Rizvi', 'Saleh', 'Sargodha'}

In [77]:
s1.remove("Saleh")
s1

{1, 2, 5.2, 'Codanics', 'Haider Rizvi', 'Sargodha'}